<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>상세페이지 입니다</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <a href="#" class="edit-btn" style="font-size: 30px;">✏️</a>
    <button class="cancel hide" style="font-size: 30px; background-color: green;">취소</button>
    <div class="detail-bg">
        <div class="white-bg">
          <div class="list-box">
            <h4><%= article.title %></h4>
            <p><%= article.content %></p>
            <p hidden><%= article._id %></p>
          </div>
        </div>
    </div>
    <script src="/detail.js"></script>
</body>
</html>