<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/fortune.css">
    <title>점괘 페이지입니다</title>
</head>

<body>
    <form action="/fortune" method="post">
        <label for="question-select">질문을 선택해줘</label>
        <select name="question" id="question-select">
            <option value="오늘의 운세는?">오늘의 운세는?</option>
            <option value="실천해야 할 덕목은?">실천해야 할 덕목은?</option>
            <option value="직접 묻기">직접 묻기</option>
        </select>
        <input type="text" placeholder="질문을 입력해줘" name="question-custom">
        <button id="drawGua">점치기</button>
    </form>
    <div id="gua" class="hide">
        <div class="yao"></div>
        <div class="yao"></div>
        <div class="yao"></div>
        <div class="yao"></div>
        <div class="yao"></div>
        <div class="yao"></div>
    </div>
    <script src="/fortune.js"></script>
</body>

</html>