<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>로그인 페이지</title>
</head>

<body>
    <% if (status == 401) { %>
        <h2 style="color: red;">아이디 또는 비밀번호를 입력해주세요</h2>
      <% } %>
    <form class="form-box" action="/login" method="post">
        <h4>로그인</h4>
        <label for="username">ID</label>
        <input type="text" id="username" name="username" placeholder="insert your username">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" placeholder="insert your password">
        <button type="submit">로그인</button>
        <button type="button"><a href="/register">회원가입</a></button>
    </form>
</body>

</html>