<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>가입 페이지</title>
</head>

<body>
    <form class="form-box" action="/register" method="post">
        <h4>회원가입</h4>
        <label for="username">ID</label>
        <input type="text" id="username" name="username" placeholder="insert your username">
        <p class="msg hide"></p>
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" placeholder="insert your password">
        <p class="msg pwmsg hide"></p>
        <button type="button" class="register">가입</button>
    </form>
    <script src="/register.js"></script>
</body>

</html>