<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <form class="form-box" action="/write" method="post" enctype="multipart/form-data">
        <h4>글쓰기</h4>
        <input name="title">
        <input name="content">
        <input type="file" accept="image/*" name="img1">
        <button type="submit">전송</button>
    </form> 
</body>
</html>